/* estilos gerais
 */
* {
    color: #25282e;
}

a,
i {
    transition: .5s;
    text-decoration: none;
}

.secondary-color {
    color: #555;
}

.center-image {
    background-size: cover;
    background-position: center;
}

.btn {
    text-decoration: none;
    background-color: #25282e;
    color: #fff;
    padding: .4375rem 1.125rem;
    border-radius: 0;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

/* header */

#header {
    text-align: center;
    padding: 1.25rem;
    border-bottom: 1px solid #ccc;
}

#header p {
    margin-bottom: 0;
}

#logo-container {
    display: flex;
    justify-content: center;
}

#logo {
    width: 40px;
    margin-right: .9375rem;
}

/* navbar */
#navbar {
    padding: .625rem;
    margin: .625rem auto;
}

#navbar a {
    width: 5rem;
    color: #444;
}

#navbar a:hover {
    color: #c1b696;
}

/* main image */
.main-image {
    height: 400px;
    background-image: url('../img/g_1.jpg');
    margin-bottom: 1.875rem;
    position: relative;
}

.main-image-info {
    background-color: #fff;
    padding: 1.5625rem;
    position: absolute;
    left: 25px;
    bottom: 25px;
}

/* gallery */
#img-2 {
    background-image: url('../img/g_2.jpg');
}

#img-3 {
    background-image: url('../img/g_3.jpg');
}

#img-4 {
    background-image: url('../img/g_4.jpg');
}

#img-5 {
    background-image: url('../img/g_5.jpg');
}

#img-6 {
    background-image: url('../img/g_6.jpg');
}

#gallery-container h1{
    text-align: center;
}
#gallery-container h1,
#gallery-container .col-md-6,
#gallery-container .col-12{
    margin-bottom: 3.125rem;
}

.small-image-container{
    height: 250px;
    margin-bottom: 1.25rem;
}

/* footer */

footer{
    border-top: 1px solid #ccc;
    height: 15.625rem;
    padding: 1.875rem;
}
footer i{
    font-size: 1.25rem;
}
#social-icons-container{
    padding: 1.5625rem;
}
#social-icons-container div{
    text-align: center;
}
footer p{
    text-align: center;
    margin: 1.25rem;
}
a:hover i{
    color: #c1b696;
}